.login-page {
    background-color: #001529;
    font-weight: 600;
    background: linear-gradient(rgba(255,255,255,0.0),rgba(255,255,255,0.0)), url("/src/assets/login-page.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}

.login-card {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 300px;
    z-index: 100;
    box-shadow: 3px black;
}

.login-title {
    align-self: flex-start;
    justify-self: flex-start;
    padding-top: 5px;
}

.hover-text-navigator {
    color: #1677FF;
}

.hover-text-navigator:hover {
    color:black;
    cursor: pointer;;
}