.login-page{
    background-color:#001529;
    font-weight: 600;
}
.login-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 300px;
    z-index: 100;
    box-shadow: 3px black ;
}
.login-title{
    align-self: flex-start;
    justify-self: flex-start;
}