.register-page{
    background-color:#001529;
    font-weight: 600;
    .ant-tabs-content-holder{
        max-height: 500px;
        // overflow-y: scroll;
    }
}

.register-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 400px;
    z-index: 100;
    box-shadow: 3px black ;
}
.register-title{
    align-self: flex-start;
    justify-self: flex-start;
}

.hover-text-navigator {
    color: #1677FF;
}

.hover-text-navigator:hover {
    color:black;
    cursor: pointer;;
}